@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}


.grid-container {
    display: "grid";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
}